@import url(http://fonts.googleapis.com/css?family=Gudea);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

html {
	height: 101%
}

body {
	font-family: Gudea, sans-serif;
	font-size: 16px;
	color: #111;
}

#page {
	width: 1000px;
	margin: auto;
	margin-top: 60px;
}

#ribbon {
	position: fixed;
	top: 0;
	left: 0;
}

#nav_toggle {
	display: none;
}

#nav {
	width: 200px;
	position: fixed;
}

#nav ul {
	list-style-type: none;
	margin-top: 70px;
}

#nav li {
	position: relative;
	left: -40px;
	
	padding: 3px;
	margin-top: 2px;
	
	cursor: default;
}

#nav li.selected {
	background: url( 'arrow.png' );
	background-repeat: no-repeat;
	color: #fff;
}

#nav a {
	color: #111;
	text-decoration: none;
	display: block;
}

#content {
	width: 800px;
	float: right;
}

#content img {
	display: block;
	margin: auto;
}

#content a {
	color: black;
	text-decoration: none;
	border-bottom: 1px dotted black;
}

#content a:hover {
	border-bottom: 1px solid black;
}

#disqus_thread a { border: 0; }
#disqus_thread a:hover { border: 0; }

h1 {
	font-size: 28px;
}

h2 {
	font-size: 18px;
}

hr {
	border: 0;
	background-color: #999;
	height: 1px;
}

blockquote {
	background: rgb( 226, 245, 167 );
	border: 1px solid rgb( 189, 233, 56 );
	padding: 10px;
}

blockquote p {
	margin: 0;
}

pre {
	font-size: 14px;
}

div > p > code {
	padding: 2px;

	font-size: 14px;

	border: 1px solid #ddd;
	background: #f5f5f5;
}

li > code {
	padding: 2px;

	font-size: 14px;

	border: 1px solid #ddd;
	background: #f5f5f5;
}

code[class=cpp] {
	padding: 12px;

	font-family: 'Consolas', 'Droid Sans Mono';

	border-radius: 3px;
	box-shadow: 0px 0px 5px black;
}

.livedemo {
	width: 690px;
	height: 546px;
	margin: auto;

	position: relative;
}

.livedemo canvas {
	width: 640px;
	height: 480px;

	position: absolute;

	left: 20px;
	top: 36px;
}